main {
  width: 400px;
  margin: 20px auto;
}

mat-toolbar-row {
  font-size: 16px;
}

section {
  display: flex;
  flex-direction: row;
}

mat-spinner {
  position: absolute;
  right: 5px;
  top: 5px;
}
